@use '../base/functions' as *;
@use '../base/mixins' as *;


@include modal($name: 'create-modal-overlay', $width: 53.2vw, $wide: true) {

    >.post-submit-container {

        >.header {

            width: 100%;

            border-block-end: 0.5px solid hsl(0, 0%, 86%);

        svg {
                margin-inline-start: 1em;
                cursor: pointer;

                &:active {
                    opacity: 0.5;
                }
            }

            span {
                margin-block: 0.65em;

                text-align: center;
                font-weight: 600;
            }

            .next {
                margin-inline-end: 1.1em;
                background-color: white;
                color: hsl(204, 100%, 48%);

                font-size: em(14px);
                font-weight: 600;

                cursor: pointer;

                &:hover {
                    border: none;
                    color: black;
                }

                &:active {
                    box-shadow: none;
                    opacity: 0.5;
                }
            }
        }

        >.post-container {
            width: 100%;

            height: 434px;

            border-bottom-right-radius: 11px;

            @include mainImage;

            >.post-image {
                border-top-left-radius: 11px;
            }

            &:has(.post-details) {
                max-height: 375px;
            }

            >.post-details {

                >.user-details {
                    padding: 0.75em;

                        >.user-image {
                            margin-inline-end: 0.5em;
                            width: 32px;
                            height: 32px;
                            border-radius: 999px;

                            >img {
                                width: 28.5px;
                                height: 28.5px;
                                border-radius: 999px;

                                border: 2.5px solid white;
                            }
                        }

                    >.user-name {

                        font-size: em(14px);
                        font-weight: 600;
                    }
                }

                >form {

                    >.body-input {

                        width: 100%;

                        position: relative;

                        &.error-input {

                            textarea {
                                // border: 1px solid red;
                            }
                        }

                        &::after {
                            // content: attr(data-error);
                            position: absolute;

                            padding: 0.25em 0.5em;

                            top: -53%;
                            left: 10%;

                            color: white;
                            background-color: grey;
                            border-radius: 5px;
                            font-size: 12px;

                        }

                        >textarea {
                            padding-inline: 1.25em;

                            height: 168px;
                            width: 100%;

                            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

                            white-space: pre-wrap;
                            word-break: break-word;
                            outline: none;
                            border: none;
                            resize: none;
                        }
                    }

                    >.post-location {
                        padding-inline: 1em;
                        padding-block: 0.5em;

                        border-block: 1px solid hsl(0, 0%, 86%);


                        >.location-input {

                            >input {
                                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

                                outline: none;
                                border: none;
                            }
                        }
                    }
                }
            }


            >.drag-wrapper {

                height: 100%;
                width: 100%;

                border-bottom-right-radius: 11px;
                border-bottom-left-radius: 11px;

                transition: background-color 200ms;

                &.drag {
                    background-color: hsl(0, 0%, 94%);

                    .upload-container {
                        svg {
                            color: hsl(204, 100%, 48%);
                        }
                    }
                }

                >.upload-container {

                    margin-block-end: 0.25em;

                    >span {
                        margin-block-start: 0.5em;
                        margin-block-end: 1.1em;
                        font-size: rem(20px);
                    }

                    >button {
                       @include button($bgc: 'blue');
                    }
                }
            }
        }
    }
}