@use '../base/mixins' as *;
@use '../base/functions' as *;

.loader {
    position: fixed;

    background-color: white;
    z-index: 100;
    inset: 0;

    height: 100vh;

    >.logo {
        margin-block-start: rem(72px);
        
        width: 80px;
        height: 80px;
    }
    
    >.from-meta {
        margin-block-end: rem(36px);

        width: 72px;
        height: 36px;
    }
}