@use '../base/mixins' as *;

@include modal($name: 'switch-modal-overlay', $width: 414px, $zIndex: 100) {


    >.switch-user-container {

        width: 100%;
        
        >div {
            margin: 1em;
            
            width: 200px;

            outline: none;
            border: none;
        }

        >button {
            @include button($bgc: 'blue');
        }
    }

}