@use '../base/functions' as *;
@use '../base/mixins' as *;

.user-menu-overlay {
    position: sticky;

    top: 0;
    height: 0px;
    width: 0px;
    
    z-index: 20;
    
    .user-menu-container {
        position: absolute;

        padding: rem(8px);
        
        border-radius: 10px;
        background-color: white;
        
        box-shadow: rgba(0, 0, 0, 0.15) 0px 4px 12px 0px;
        
        @include for-wide-layout {
            top: calc(var(--more-btn-top) - 120px);
            left: -217px;
        }
        @include for-normal-layout {
            top: calc(var(--more-btn-top) - 120px);
            left: -217px;
        }
        @include for-narrow-layout {
            top: calc(var(--more-btn-top) - 61px);
            left: -10px;
        }

        >.logout {
            padding: rem(16px);

            border-radius: 10px;
            font-size: rem(14px);

            transition: background-color 200ms;

            cursor: pointer;

            &:hover {
                background-color: hsl(0, 0%, 94%);
            }
        }
    }
}