@use '../base/functions' as *;
@use '../base/mixins' as *;

.user-modal {
    position: absolute;
    // bottom: -315px;
    
    width: 366px;
    height: 320px;
    
    opacity: 0;
    visibility: hidden;
    z-index: 50;
    
    // pointer-events: none;
    cursor: default;
    
    background-color: white;
    border-radius: 8px;
    color: black;
    
    box-shadow: 0px 0px 23px hsl(0, 0%, 0%, 0.2);
    
    transition: opacity 500ms ease, visibility 500ms;
    
    @include for-wide-layout {
        left: calc(var(--modal-left) - 264px);
    }
    @include for-normal-layout {
        left: calc(var(--modal-left) - 264px);
    }
    @include for-narrow-layout {
        left: calc(var(--modal-left) - 72px);
    }
    @include for-mobile-layout {
        left: var(--modal-left);
    }
    >.user-details {
        padding-block-start: 1.1em;
        padding-inline-start: 1em;

        >* {
            margin-inline-end: 0.25em;
        }

        >.user-image {
            position: relative;

            margin-inline-end: 0.5em;
            width: 60px;
            height: 60px;
            border-radius: 999px;
            // background: linear-gradient(230deg,
            //         hsl(326, 57%, 48%),
            //         hsl(291, 63%, 46%),
            //         hsl(340, 75%, 54%),
            //         hsl(340, 75%, 54%),
            //         hsl(20, 92%, 59%),
            //         hsl(20, 92%, 59%),
            //         hsl(39, 96%, 50%),
            //         hsl(39, 96%, 80%),
            //         hsl(39, 96%, 90%));

            cursor: pointer;

            >img {
                width: 56.5px;
                height: 56.5px;
                border-radius: 999px;

                border: 2.5px solid white;
            }
        }

        >.header-details-container {
            padding-inline-start: 0.3em;

            >.header-details {

                >* {
                    margin-inline-end: 0.35rem;
                    font-size: rem(14px);
                }

                >.user-name {
                    width: max-content;

                    font-size: rem(16px);
                    font-weight: 700;

                    cursor: pointer;
                }
            }

            >.full-name {
                font-size: rem(14px);
                font-weight: 400;
                color: hsl(0, 0%, 45%);

            }
        }
    }

    >.user-data {
        padding-block-start: 1em;
        font-size: rem(14px);
        font-weight: 400;

        span {
            font-weight: 700;
        }
    }

    >.user-posts-container {
        margin-block-start: 1em;

        &:has(.no-posts) {
            margin-block: 1em;
            padding-block: 0.75em;
            padding-block-end: 0.25em;
            margin-block-end: 0.25em;

            border-block: 1px solid hsl(0, 0%, 86%);
        }

        >.user-post {
            cursor: pointer;

            >img {
                width: 100%;
                object-fit: cover;
                aspect-ratio: 1/1;
            }
        }

        >.no-posts {
            width: 100%;

            margin-block-end: 0.75em;

            >.no-posts-title {
                margin-block-start: 0.25em;
                font-size: rem(14px);
                font-weight: 700;
            }

            >.no-posts-body {
                text-align: center;
                font-size: rem(12px);
                color: grey;
            }
        }
    }

    >button {
        margin-block-end: 0.25em;

        width: 95%;

        @include button($bgc: 'blue');

        &.grey {
            @include button($bgc: 'grey');

            background-color: hsl(0, 0%, 92%);
            color: black
        }
    }
}