@use '../base/functions' as *;
@use '../base/mixins' as *;
@include growAnimation;

.main-container {

    min-height: 100dvh;
    // min-width: 100vh;

    position: relative;
    overflow: hidden;

    &:has(.user-bar-container) {
        margin-inline-start: rem(32px);

        @include for-narrow-layout {
            margin-inline-start: inherit;
        }
    }

    &:has(.post-modal-conatiner) {
        @include for-normal-layout {
            .user-modal {
                // left: calc(var(--modal-left) - 232px);
            }
        }
    }

    >div {
        position: absolute;
    }

    >.post-container {
        margin-block-start: 1em;
        margin-block-end: 2em;

        // position: fixed;
        // overflow: hidden;
        // width: 100%;

        >.post {
            width: 470px;

            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

            @include for-mobile-layout {
                width: 430px;
            }

            @include for-narrow-mobile-layout {
                width: 410px;

                >* {
                    padding-inline: 0.75em;
                }
            }

            >.user-details {
                padding: 0;
                padding-block: 0.6em;

                @include for-narrow-mobile-layout {
                    padding-inline: 0.75em;
                }

                >* {
                    margin-inline-end: 0.25em;
                }

                >.user-image {
                    margin-inline-end: 0.5em;

                    width: 42px;
                    height: 42px;

                    border-radius: 999px;
                    // background: linear-gradient(230deg,
                    //         hsl(326, 57%, 48%),
                    //         hsl(291, 63%, 46%),
                    //         hsl(340, 75%, 54%),
                    //         hsl(340, 75%, 54%),
                    //         hsl(20, 92%, 59%),
                    //         hsl(20, 92%, 59%),
                    //         hsl(39, 96%, 50%),
                    //         hsl(39, 96%, 80%),
                    //         hsl(39, 96%, 90%));

                    cursor: pointer;

                    >img {
                        width: 38.5px;
                        height: 38.5px;
                        border-radius: 999px;

                        border: 2.5px solid white;
                    }

                }

                >.header-details-container {

                    >.header-details {
                        >* {
                            margin-inline-end: 0.35em;
                            font-size: rem(14px);
                        }

                        >span {
                            color: grey;
                        }

                        >.user-name {
                            font-weight: 600;

                            cursor: pointer;

                            &:hover {
                                color: hsl(0, 0%, 50%);
                            }
                        }

                        >.created-at {
                            color: hsl(0, 0%, 50%)
                        }

                        >.follow-btn {
                            color: rgb(0, 149, 246);
                            font-weight: 600;

                            cursor: pointer;
                        }

                    }

                    >.location {
                        font-size: em(12px);

                    }

                }

                >.menu {
                    cursor: pointer;
                }

            }

            >.main-image {
                padding: 0;

                border-inline-end: 0.5px solid hsl(0, 0%, 30%);

                border-radius: 4px;

                @include for-narrow-mobile-layout {
                    border-radius: 0px;
                }

                >img {
                    display: block;

                    width: 100%;

                    border-radius: 4px;

                    object-fit: cover;
                    aspect-ratio: 1/1;

                    @include for-narrow-mobile-layout {
                        border-radius: 0px;
                    }
                }
            }

            >.buttons {
                margin-block-start: 0.75em;

                >* {
                    cursor: pointer;

                    &:hover {
                        opacity: 0.5;
                    }
                }

                >.like {

                    // &:not(.red):not(:hover) {
                    //     animation: grow 350ms;
                    // }
                    >svg {
                        width: 105%;
                    }

                    &.red {
                        position: relative;
                        // z-index: 0;

                        &:hover {
                            opacity: 1;
                        }


                        svg {
                            animation: grow 350ms;
                        }
                    }
                }

                >.comment,
                >.share {
                    margin-inline-start: 1em;
                }
            }

            >.likes {
                margin-block: 0.5em;

                font-weight: 600;
                font-size: em(14px);
            }

            >.caption-overlay,
            .added-comment-overlay {
                margin-block: 0.6em;

                font-size: em(14px);

                >.caption-container,
                .added-comment-container {

                    >.caption,
                    .comment {
                        margin-inline-end: 0.4em;

                        font-weight: 600;

                        >* {
                            display: inline;
                        }

                        >.username {
                            padding-inline-end: 0.25em;

                            cursor: pointer;
                        }

                        >.text {
                            font-weight: 400;
                        }

                        >.expand-caption {
                            color: grey;

                            font-weight: 400;

                            cursor: pointer;

                            >span {
                                color: black;
                            }
                        }

                    }

                }

            }

            >.open {
                margin-block-end: 0.3em;

                font-size: em(14px);
                color: grey;

                cursor: pointer;
            }

            >.add-comment-container {

                // padding-block-start: 0.5em;
                // padding-inline-start: 1em;

                min-width: 100%;

                >input {
                    padding: 0;

                    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                    font-size: em(14px);

                    width: calc(100% - 60px);

                    border: none;
                    outline: none;
                }

                >button {
                    @include button;
                    background-color: white;
                    color: hsl(204, 100%, 48%);

                    font-size: em(14px);
                    font-weight: 600;

                    opacity: 0;
                    visibility: hidden;

                    cursor: pointer;

                    transition: opacity 100ms;

                    &.full {
                        opacity: 1;
                        visibility: visible;
                    }

                    &:hover {
                        background-color: transparent;
                        border: none;
                        color: black;

                        visibility: visible;
                    }

                    &:active {
                        box-shadow: none;

                        opacity: 0.5;
                        visibility: visible;
                    }
                }
            }

            >.separator {
                margin-block-start: 0.7em;
                margin-block-end: 0.5em;
                border-block-end: 1px solid hsl(0, 0%, 86%);
            }
        }

        >.observed-div {

            >.loader-svg {
                width: 65%;
                height: 65%;

                animation: spin 2s linear infinite;
                transform-origin: center;

                @include for-mobile-layout {
                    width: 40%;
                    height: 40%;
                }
            }
        }

        >.all-caught-up,
        >.not-following-anyone {
            padding-block-start: rem(16px);

            height: 176px;

            width: 470px;

            @include for-mobile-layout {
                margin-block-end: 2em;

                width: 430px;
            }

            @include for-narrow-mobile-layout {
                width: 410px;
            }

            >img {
                width: 96px;
                height: 96px;
            }

            >.title {
                padding-block-start: rem(12px);
                padding-block-end: rem(4px);
                font-size: rem(20px);
            }

            >.body {
                color: grey
            }

        }

        >.not-following-anyone {
            
            >.title {
                font-size: rem(24px);
                font-weight: 700;

            }

            >button {
                @include borderlessButton;

                font-size: rem(16px);
            }
        }
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}