@use '../base/mixins' as *;
@use '../base/functions' as *;

.messenger-container {

    height: 100vh;

    >.side-bar {
        width: 250px;
        height: 100%;
        
        border-inline-end: 1px solid hsl(0, 0%, 86%);
        
        >.side-bar-header {
            padding-inline: rem(24px);
            padding-block-start: rem(36px);
            padding-block-end: rem(24px);
            
            >.user-name {
                font-size: rem(20px);
                font-weight: 700;
            }
        }
        
        >.user-image {
            margin-inline: rem(16px);
            padding-inline-start: rem(6px);
            
            >img {
                border-radius: 999px;
                width: 75px;
                height: 75px;
                object-fit: cover;
            }
        }
        
        >.title {
            padding-inline: rem(24px);
            padding-block-start: rem(14px);

            font-weight: 700;
        }

        >.messages-list {
            padding-block-start: rem(18px);

            >.user-details {
                @include userHeader($imgSize: 56px);

                & {
                    padding-block: rem(4px);

                    border: none;
                    cursor: pointer;

                    &:hover,
                    &.chosen {
                        background-color: hsl(0, 0%, 94%);
                    }
                }

                >.header-details-container {
                    >.header-details {
                        >.user-name {
                            font-weight: 400;

                            &:hover {
                                color: black
                            }
                        }
                    }
                }
            }
        }

    }

    >.chosen-message-container {

        >.container-header {

            >.header-details-container {
                @include userHeader($imgSize: 36px);

                >svg {
                    margin-inline-start: rem(6px);
                    margin-inline-end: rem(10px);

                    cursor: pointer;
                }

                >.header-details {
                    >.user-name {
                        font-weight: 600;
                    }
                }
            }
        }

        >.message-header {

            >.header-details-container {
                @include userHeader($imgSize: 56px);

                & {
                    padding-block-start: rem(16px);
                    border: none;
                }

                >svg {
                    margin-inline-start: rem(6px);
                    margin-inline-end: rem(10px);
                }

                >.user-image {
                    margin: 0;
                }

                >.header-details {

                    >.full-name {
                        padding-block-start: rem(4px);

                        font-size: rem(20px);
                        font-weight: 600;
                    }

                    >.user-name {
                        padding-block-start: rem(4px);

                        font-size: rem(14px);
                        color: hsl(0, 0%, 45%)
                    }
                }

                >button {
                    @include button($bgc: grey);

                    & {
                        margin-block-start: rem(20px);

                        color: black;
                        background-color: hsl(0, 0%, 94%);
                    }
                }
            }
        }

        >.message-content-container {

            overflow: scroll;
            scrollbar-width: none;
            // scroll-behavior: smooth;

            height: calc(100vh - 318px);

            >.message-container {
                >.message {
                    padding-inline-end: rem(16px);
                    padding-block-end: rem(16px);


                    >.sent-at {
                        padding-block-end: rem(26px);
                        font-size: rem(12px);
                        color: rgb(101, 103, 107);
                    }

                    >.text {
                        padding-block: rem(6px);
                        padding-block-end: rem(7px);
                        padding-inline: rem(16px);

                        background-color: hsl(204, 100%, 48%);
                        color: white;
                        border-radius: rem(20px);
                    }

                    &:last-of-type {
                        padding-block-end: 0;
                    }
                }
            }
        }

        >.send-message-container {
            padding: rem(16px);
            padding-block-start: rem(8px);

            >.message-bar {
                padding-inline: rem(15px);
                padding-block: rem(10px);

                border: 1px solid hsl(0, 0%, 86%);
                border-radius: 999px;

                >input {
                    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                    font-size: rem(15px);
                    border: none;
                    outline: none;
                }

                >button {
                    @include button;

                    padding: 0;

                    background-color: white;
                    color: hsl(204, 100%, 48%);

                    font-size: em(14px);
                    font-weight: 600;

                    opacity: 0;
                    visibility: hidden;

                    cursor: pointer;

                    transition: opacity 100ms;

                    &.full {
                        opacity: 1;
                        visibility: visible;
                    }

                    &:hover {
                        background-color: transparent;
                        border: none;
                        color: black;

                        visibility: visible;
                    }

                    &:active {
                        box-shadow: none;

                        opacity: 0.5;
                        visibility: visible;
                    }
                }
            }

        }

        >.start-new-message {
            padding-inline: 1em;

            >.title {
                padding-block-start: 14px;

                font-size: rem(20px);
            }

            >.body {
                padding-block-start: 8px;

                font-size: rem(14px);
                color: hsl(0, 0%, 45%)
            }

            >button {
                margin-block-start: rem(16px);
                @include button($bgc: 'blue');
            }
        }
    }
}