@use './variables' as *;
@use './functions' as *;

*,
*::before,
*::after {
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

.hidden {
    visibility: hidden;
    opacity: 0;
}

body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

.main-app {
    min-height: 100vh;
    position: relative;
}

button {
    padding: 0.4em 0.6em;

    background-color: $button-color;
    border: 1px solid hsl(0, 0%, 80%);
    border-radius: 5px;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;

    cursor: pointer;

    transition: 150ms background-color, 150ms border, box-shadow 250ms;

    &:hover {
        background-color: $button-color-hover;
        border: 1px solid hsl(0, 0%, 70%);
    }

    &:active {
        background-color: hsl(0, 0%, 94%);
        box-shadow: 0px 0px 5px 1px hsl(0, 0%, 100%);
    }
}

button {
    padding-block: rem(6px);
    padding-block-end: rem(7px);
    padding-inline: rem(16px);

    font-size: rem(14px);

    background-color: hsl(204, 100%, 48%);
    color: white;
    border: none;
    border-radius: rem(8px);

    &:hover {
        background-color: rgb(24, 119, 242);
    }

    &:active {
        background-color: rgba(0, 149, 246, 0.7);
    }
}

img {
    // height: 100%;
    // object-fit: cover;
}