@use './mixins' as *;

.main-app {
    @include grid(column);

    grid-template-columns: max-content 1fr;

    .side-bar {
        @include grid(row);

        grid-template-rows: repeat(7, max-content);

        div {
            @include grid(column, $align: center);

            grid-template-columns: max-content 1fr;

            align-self: start;
        }

        .profile-btn,
        .more-btn {
            align-self: end;
        }
    }

    .main-container {

        .post-container {
            @include grid(row, $place: center);

            .header {
                @include grid(column, $align: center);

                grid-template-columns: max-content 1fr max-content;

                .user-image {
                    @include grid(row, $place: center)
                }

                .header-details-container {

                    .header-details {
                        @include grid(column, $align: center);

                        grid-template-columns: repeat(5, max-content);

                    }
                }

                .menu {
                    justify-self: end;
                }

            }

            .buttons {
                @include grid(column);

                grid-template-columns: repeat(3, max-content);

                .save {
                    justify-self: end;
                }
            }

            .comment-container {

                @include grid(row);

                .comment {
                    @include grid(column);

                    grid-template-columns: repeat(2, max-content);
                }
            }
        }
    }

}

.modal {

    .post-submit-container {
        @include grid(row, $place: center);
        // grid-template-rows: max-content max-content;

        .header {
            @include grid(column, $align: center);

            grid-template-columns: max-content 1fr max-content;

            .next {
                justify-self: end;
            }
        }

        .post-contents {

            @include grid(column);

            &:has(.post-details) {

                grid-template-columns: 1.5fr 1fr;
                // grid-template-rows: 400px;
            }

            .uploaded-image-container {

                @include grid(row, $place: center);

                // &.narrow {
                //     justify-self: start;
                // }
            }

            .post-details {
                @include grid(row);

                grid-template-rows: repeat(4, max-content);

                .user-details {
                    @include grid(column, $align: center);

                    grid-template-columns: repeat(2, max-content);
                    grid-template-rows: max-content;

                    .user-image-container {
                        @include grid(row)
                    }
                }

                .post-location {
                    @include grid(column);

                    grid-template-columns: 1fr max-content;

                    svg {
                        justify-self: end;
                    }
                }
            }
        }

        .drag-wrapper {
            @include grid(row, $align: center);

            .upload-container {
                @include grid(row, $place: center);
            }

        }
    }
}